    {% extends 'base.html' %}

    {% block content %}
    <h2>Datos de contacto:</h2>
    <form method="post">
        {% csrf_token %}
        <div>
        {{ form.nombre_cliente.label_tag }} {{ form.nombre_cliente }}
        </div>
        <div>
        {{ form.apellido_cliente.label_tag }} {{ form.apellido_cliente }}
        </div>
        <div>
        {{ form.email_cliente.label_tag }} {{ form.email_cliente }}
        </div>
        <div>
        {{ form.telefono_cliente.label_tag }} {{ form.telefono_cliente }}
        </div>
        <div>
        {{ form.edad_cliente.label_tag }} {{ form.edad_cliente }}
        </div>
        <div>
        {{ form.observaciones.label_tag }} {{ form.observaciones }}
        </div>
        <div>
        {{ form.fecha_cita.label_tag }} {{ form.fecha_cita }}
        </div>
        <div>
        {{ form.hora_cita.label_tag }} {{ form.hora_cita }}
        </div>
        <div>
        {{ form.barbero.label_tag }} {{ form.barbero }}
        </div>
        <button type="submit">Reservar</button>
    </form>
    {% endblock %}
